.cart-item-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/* Cart main container */
/* ******************* */
/* ******************* */

.cart-main-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin: 0 auto; */
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  padding-top: 0rem;
  margin-top: 1rem;

  color: var(--custom-dark-grey);
  background-color: var(--custom-dark-white);
}
.cart-page-header-container {
  grid-column: 1 / -1; /* Span all columns */
  grid-row: 1; /* First row */
}
.cart-item-cards-container {
  grid-column: 1; /* Left column */
  grid-row: 2; /* Second row */
}
.checkout-container {
  grid-column: 2; /* Right column */
  grid-row: 2; /* Second row */
}

.cart-no-item-placeholder {
  font-style: italic;
  font-size: 1.3rem;
}

/* ******************* */
/* ******************* */

.cart-page-header-container {
  font-weight: bold;
}
.cart-page-title {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
}
.cart-page-count-status {
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* Checkout Box styles */
/* ******************* */
/* ******************* */

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--item-border-radius);

  padding: 1rem;
  /* border: 2px solid black; */
  height: 20rem;
  width: 20rem;
  font-weight: bold;
  box-shadow: var(--item-box-shadow);
}

.checkout-button {
  background-color: var(--cart-green);
  color: var(--custom-dark-white);
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
}

.checkout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

/* ******************* */
/* ******************* */

@media screen and (min-width: 760px) {
  .cart-main-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    column-gap: 4rem;
  }
  /* children of .cart-item-cards-container  */
  .cart-page-header-container {
    grid-column: 1/ 2;
  }
  .cart-item-cards-container {
    grid-column: 1/ 2;
  }
  .checkout-container {
    grid-column: 2/ 3;
    align-self: start;
  }
}
@media screen and (min-width: 850px) {
  .checkout-container {
    padding: 1rem;
    /* border: 2px solid black; */
    height: 25rem;
    width: 25rem;
    font-weight: bold;
    box-shadow: var(--item-box-shadow);
  }
}
