.navbar-main-container {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  /* width: 20rem; */
  /* min-height: 90vh; */
  font-weight: bold;

  background-color: var(--custom-orange);
  padding: 0 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

/* .navbar-title {
  font-size: 1.4rem;
} */

.navbar-logo-image-container img {
  height: 4.5rem;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
}
.navbar-links-container > *:hover:not(.cart-link-container) {
  text-decoration: underline;
}
.navbar-links-container > .cart-link-container > a:hover {
  text-decoration: underline;
}

.cart-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.cart-link-container a {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem; */

  /* justify-self: flex-end; */
  margin-right: -0.5rem;
}

/* .cart-count {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px black solid;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius: 50%;
  background-color: var(--custom-dark-blue);
  color: var(--custom-dark-white);
} */

.cart-count {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.cart-count > * {
  margin-top: 0.2rem;
}

/* Shopping Cart Logo styles from internet */
/* *************************************** */
/* *************************************** */

.shoppingbasket {
  width: 40px;
  height: 40px;
  /* background-color: #000; */
  /* align-self: center; */
  position: absolute;
  /* top: 20px;
  right: 13%; */
}
.basketitems {
  color: white;
  font-size: 80%;
  background-color: #e74c3c;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
  -moz-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
  padding: 0 12%;
  border-radius: 1000px;
}
.shoppingbasket .top {
  width: 60%;
  height: 10%;
  border-radius: 1000px;
  background-color: var(--custom-dark-white);
  background-color: var(--custom-dark-blue);
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.shoppingbasket .bottom {
  width: 50%;
  height: 10%;
  border-radius: 1000px;
  background-color: var(--custom-dark-white);
  background-color: var(--custom-dark-blue);
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.shoppingbasket .left {
  width: 50%;
  height: 10%;
  border-radius: 1000px;
  background-color: var(--custom-dark-white);
  background-color: var(--custom-dark-blue);

  position: absolute;
  top: 45%;
  left: 1%;
  -webkit-transform: rotate(80deg);
  -moz-transform: translateX(80deg);
  transform: translateX(80deg);
}
.shoppingbasket .right {
  width: 50%;
  height: 10%;
  border-radius: 1000px;
  background-color: var(--custom-dark-white);
  background-color: var(--custom-dark-blue);

  position: absolute;
  top: 45%;
  right: 1%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: translateX(-80deg);
  transform: translateX(-80deg);
}

/* *************************************** */
/* *************************************** */
